
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Task</h2>

<div class="row">
    <div class="col-md-2">
        <input type="radio" name="gender" value="usability test"> usability test<br>
    </div>

    <div class="col-md-2">
        <input type="radio" name="gender" value="translations"> translations<br>
    </div>

    <div class="col-md-2">
        <input type="radio" name="gender" value="image recognition"> image recognition <br>
    </div>
</div>


