@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Translation";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <section>
                <h4>Original</h4>
            <textarea rows="10" cols="50"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacus mi, scelerisque non dui at, hendrerit faucibus tellus. Morbi nec nisi sed eros sodales facilisis. Donec eleifend metus et nulla mollis mattis. Praesent congue maximus lectus non imperdiet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce lobortis sodales dui, quis elementum mi. Cras bibendum mattis vestibulum. Pellentesque mi ex, pellentesque blandit ex eget, varius hendrerit nulla. Sed hendrerit nisl magna. Sed eleifend ultrices accumsan. Phasellus eu est volutpat ante ullamcorper mollis. Sed a condimentum risus. 
            </textarea> 
        </section>
    </div>

    <div class="col-md-6">
        <section>
            <h4>Translation</h4>
            <textarea rows="10" cols="50"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt molestie dui, non blandit nisi luctus vel. Etiam malesuada sed ex vel vestibulum. Curabitur vitae sodales ligula, ac luctus eros. Nullam rhoncus convallis orci, et semper ipsum. Duis id tortor lobortis, eleifend nibh in, venenatis eros. Praesent vitae nisi eros. Mauris at mollis ante. 
            </textarea>
        </section>
    </div>

    <hr />
    <div class="col-md-offset-4 col-md-4">
        <input type="submit" value="Save" class="btn btn-default" />
        <input type="submit" value="Submit" class="btn btn-default" />
    </div>
</div>