@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<img src="~/Images/location.jpg"
     style="width:304px;height:304px;">

<address>
    907 Raymond Avenue<br />
    Long Beach, CA 90804<br />
    <abbr title="Phone">P:</abbr>
    (888) 888-8000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:dursun38@hotmail.de">dursun38@hotmail.de</a><br />
    <strong>Marketing:</strong> <a href="mailto:klein.markus.klein@gmail.com">klein.markus.klein@gmail.com</a><br />
    <strong>Tester:</strong> <a href="mailto:eduard.leibham@gmail.com">eduard.leibham@gmail.com</a><br />
    <strong>Website Design:</strong> <a href="mailto:ayandoyarde@outlook.com">ayandoyarde@outlook.com</a><br />
</address>