@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
        <h1>Hive Mind</h1>
        <p class="lead">Welcome to the Hive</p>
    </body>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>What we do?</h2>
        <p>
            We enable individuals and business requesters to coordinate the use of human intelligence to perform tasks that computers are currently unable to do. 
            Crowdsourcing enables the autonomous solution of tasks which cannot or not adequately be solved by machines, but are solvable for humans.
        </p>
        <img src="~/Images/business.jpg"
             style="width:304px;height:228px;">
    </div>
    <div class="col-md-4">
        <img src="~/Images/crowdsourcing-word-cloud.jpg"
             style="width:304px;height:228px;">
        <h2>Benefits for Business</h2>
        <p>Discharging the own company, benefits from a competent, external, scalable workforces, as well as potential cost savings by eliminating training and its costs for the tasks performed by crowd workers not anymore by own employees and finally focusing on the core business.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Benefits for Employees</h2>
        <p>Easy access to a plethora of interesting, diversified jobs with a fair reward. Contribution and training of special skills fitting to personality and the level of knowledge.</p>
        <img src="~/Images/money_online.jpg"
             style="width:304px;height:228px;">
    </div>
</div>